Мы создаем веб приложение, которое работает на angular 19 + material, которое показывает наш гитлаб https://git.b3it.ru/a3.
сначала должны быть видны папки проектв в виде карточек, потом по нажатию карточек открывается более детальная информация о проекте.