# Node.js
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
src/environments/environment.development.ts
src/environments/environment.prod.ts
src/environments/environment.ts

# Cache
.cache/

# Angular
.angular/cache/

# IDEs
.idea/
.vscode/

# Misc
.DS_Store
Thumbs.db

# Build
/dist/
/build/ 

.cursorrules